node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Private data
src-private

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Wrangler config file (go make this one yourself lol)
wrangler.jsoncGoogle_OAuth_Client.json 
dev-server.log 
dev-server.err.log 


Google_OAuth_Client.json 

